@model AgileDevDays.Web.Models.ChallengeModel
<h3>@Model.ChallengeTitle</h3>
<div style="float: left;">
<span>Put into correct order</span>
<ul id="sortable">
    <li class="ui-state-default">The team should be able to gauge the size of a story.</li>
    <li class="ui-state-default">The story should include validation criteria.</li>
    <li class="ui-state-default">A good story should stand on its own</li>
    <li class="ui-state-default">A good story is negotiable.</li>
    <li class="ui-state-default">A good rule of thumb is that a user story should not be more than eight to sixteen hours of effort.</li>
    <li class="ui-state-default">A user story should be valuable to the business.</li>
</ul>
</div>
<div style="float: right;  width: 300px;">
<span id="answerToggle" style="cursor: pointer; text-align: right;">Answers (Show/Hide)</span>
<ul id="correctOrder" style="display: none;">
    <li class="ui-state-default">A good story should stand on its own</li>
    <li class="ui-state-default">A good story is negotiable.</li>
    <li class="ui-state-default">A user story should be valuable to the business.</li>
    <li class="ui-state-default">A good rule of thumb is that a user story should not be more than eight to sixteen hours of effort.</li>    
    <li class="ui-state-default">The team should be able to gauge the size of a story.</li>
    <li class="ui-state-default">The story should include validation criteria.</li>
</ul>
</div>
<div class="clear" />
<script>
    $(function () {
        $("#sortable").sortable({
            placeholder: "ui-state-highlight",
            cursor: 'move'
        });
        $("#sortable").disableSelection();
    });

    $("#answerToggle").click(function () {
        $("#correctOrder").toggle();
    }); 
</script>