@{
    Layout = "_SetupLayout.cshtml";
    ViewBag.Title = "SimpleCms Setup";
}

<h2>Welcome to SimpleCms Setup</h2>
<ul>
    <li>Database Connection Configured: <img src="@ViewBag.DbConfiguration" style="width: 15px;"/></li>
    <li>Setup Database: </li>
    <li>Establish Application Name: </li>
    <li>Establish home page: </li>
</ul>