@{
    ViewBag.Title = "Login";
}
<h2>Log In</h2>
<fieldset>
    Please log in with your account from one of the following providers.
    <hr />
    <a href="@ViewBag.TwitterAuthUri"><img src="/dv/Content/Images/twittersignin.png" /></a>
    
</fieldset>