/*----------------------------------------------------------
The base color for this template is #F0EDEB. If you'd like
to use a different color start by replacing all instances of
#F0EDEB with your new color.F0EDEB
----------------------------------------------------------*/
body
{
    background-color: #BF5930;
    font-size: .85em;
    font-family: "Trebuchet MS" , Verdana, Helvetica, Sans-Serif;
    margin: 0;
    padding: 0;
    color: #696969;
}

a:link {
    color: #F0660A;
    text-decoration: none;
}

a:visited {
    color: #F0660A;
}

a:hover {
    color: #F0660A;
    text-decoration: underline;
}

a:active {
    color: #F0660A;
}

p, ul {
    margin-bottom: 20px;
    line-height: 1.6em;
}

header,
footer,
nav,
article,
section {
    display: block;
}

/* HEADINGS   
----------------------------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-size: 1.5em;
    color: #000;
}

h1 {
    font-size: 2em;
    padding-bottom: 0;
    margin-bottom: 0;
}

h2 {
    padding: 0 0 10px 0;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

h5, h6 {
    font-size: 1em;
}

/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

/* you can specify a greater or lesser percentage for the 
page width. Or, you can specify an exact pixel width. */
.page {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;    
}

#mainWrapper
{
    width: 95%;
    float: left;
}

.mainCol
{
    padding: 30px 30px 15px 30px;
    margin: 15px 200px 15px 15px;
}

.contentHeader
{
    padding: 0 5px 0 5px;
    margin: 5px 5px 5px 5px;
    height: 35px;
}

span.headerTitle
{
    float: left; 
    font-weight: bold; 
    font-size: 1.5em;
    color: #000;
}

.contentBody
{
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
    float: left;
}

.contentBox
{
   border-color: #ccc;
   border-style: solid;
   border-width: 1px;
   border-top: 0;
   border-radius: 0 0 4px 4px;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px; 
}

.editorBox
{
    float: right; 
    margin-top: -6px;
    margin-right: 5px;
    padding: 3px 3px 3px 3px;
    background-color: #eee;
    text-decoration: none;
}

#main 
{    
    background-color: #fff;
}

.rightCol
{
    padding: 10px 10px 10px 10px;
    margin: 15px 5px 15px -195px;
    width: 200px;
    float: right;
}

#rightCol
{   
    background-color: #fff;
}

.borderBox
{
   border-color: #F0660A;
   border-style: solid;
   border-width: 1px;
   border-radius: 0 0 4px 4px;
   -webkit-border-radius: 0 0 4px 4px;
   -moz-border-radius: 0 0 4px 4px;  
}


/*challenges
----------------------------------------------------------*/
fieldset.challenges
{
    font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:12px;
		
	margin:20px 10px 20px 0px;
	width:250px;
	
	display:block;
	padding: 0px 10px 10px 10px;
	float: left;
	
	border-color: #ccc;
    border-style: solid;
    border-width: 1px;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px; 
}

fieldset.challenges ul
{
    list-style-type: none;
}


/* MISC  
----------------------------------------------------------*/
.clear {
    clear: both;
}

.error {
    color: Red;
}


/* HEADER

---------------------------------------------------------*/
header, #header 
{
    background-color: #25567B;
    height: 200px;
    margin-bottom: 0px;
    color: #000;
    padding: 0;
    width: 100%;
}

div#topBorder
{
    position: abosolute;
    top: 0;
    height: 200px;
    z-index: -1;
}

div.Headline
{
    float: left;
    margin: 15px 0 0 5px;
    font-size: 60pt;    
    font-family: Georgia, "Times New Roman", Times, serif;        
	text-align: center;
    font-weight: normal;
    color: #000;
}

div.Headline div.SubHeadline{
    font-family: "Lucida Grande", Tahoma;
	font-size: 10px;
	font-weight: lighter;
	font-variant: normal;
	text-transform: uppercase;
	color: #ccc;
    margin-top: 10px;
	text-align: center!important;
	letter-spacing: 0.3em;
}

div#title 
{
    float: left;
    margin: 10px 0 0 50px;
}
div#logindisplay 
{
    float: right;
    font-size: .85em;
    font-weight: bold;
    display: block;
    text-align: right;
    margin: 10px;
    color: #F0660A;
}

div#logindisplay a:link {
    color: #F0660A;
    text-decoration: none;
}

div#logindisplay a:visited {
    color: #F0660A;
    text-decoration: none;
}

div#logindisplay a:hover {
    color: #F0660A;
    text-decoration: underline;
}

/* Nav
-----------------------------------------------------------------*/
.navCol
{
    margin: -20px 0 5px 0;
}

ul.topnav {
	list-style: none;
	padding: 0 19px;	
	margin: 0 0 0 15px;
	float: left;
	width: 100%;
	font-size: 1.2em;
	background:#222 url(/dv/Content/Images/topnav_bg.gif) repeat-x;
}
ul.topnav li {
	float: left;
	margin: 0;	
	padding: 0 15px 0 0;
	position: relative; /*--Declare X and Y axis base--*/
}
ul.topnav li a{
	padding: 10px 5px;
	color: #fff;
	display: block;
	text-decoration: none;
	float: left;
}
ul.topnav li a:hover{
	background: url(/dv/Content/Images/topnav_hover.gif) no-repeat center top;
}
ul.topnav li span { /*--Drop down trigger styles--*/
	width: 17px;
	height: 35px;
	float: left;
	background: url(/dv/Content/Images/subnav_btn.gif) no-repeat center top;
}
ul.topnav li span.subhover {background-position: center bottom; cursor: pointer;} /*--Hover effect for trigger--*/
ul.topnav li ul.subnav {
	list-style: none;
	position: absolute; /*--Important - Keeps subnav from affecting main navigation flow--*/
	left: 0; top: 35px;
	background: #333;
	margin: 0; padding: 0;
	display: none;
	float: left;
	width: 170px;
	-moz-border-radius-bottomleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border: 1px solid #111;
}
ul.topnav li ul.subnav li{
	margin: 0; padding: 0;
	border-top: 1px solid #252525; /*--Create bevel effect--*/
	border-bottom: 1px solid #444; /*--Create bevel effect--*/
	clear: both;
	width: 170px;
}
html ul.topnav li ul.subnav li a {
	float: left;
	width: 145px;
	background: #333 url(/dv/Content/Images/dropdown_linkbg.gif) no-repeat 10px center;
	padding-left: 20px;
}
html ul.topnav li ul.subnav li a:hover { /*--Hover effect for subnav links--*/
	background: #222 url(/dv/Content/Images/dropdown_linkbg.gif) no-repeat 10px center; 
}

/* FOOTER
----------------------------------------------------------*/
.footerPanel
{
    background-color: #fff;
    color: #FFF;
    text-align: center;
    line-height: normal;
    font-size: .9em;
    background-color: Gray;
    margin-bottom: 9px;
}

footer, 
#footer {
    width: 90%;
    color: #999;
    text-align: center;
    line-height: normal;
    font-size: .9em;    
}

/* TABLE
----------------------------------------------------------*/

table {
    border: solid 1px #F0660A;
    border-collapse: collapse;
}

table td {
    padding: 5px;
    border: solid 1px #F0660A;
}

table th {
    padding: 6px 5px;
    text-align: left;
    background-color: #F0660A;
    border: solid 1px #F0660A;
}

/* sortable */
#sortable, #correctOrder { list-style-type: none; margin: 0; padding: 0;}
#sortable li, #correctOrder li { border: 1px solid #333; margin: 5px 5px 5px 5px; padding: 3px; font-size: 1.2em; width: 300px; height: 3.5em; background-color: #eee; color: Black; }
html>body #sortable li, html>body #correctOrder li { height: 3.5em; line-height: 1.2em; }
.ui-state-highlight { height: 3.5em; line-height: 1.2em;}
	

/* FORM LAYOUT ELEMENTS   
----------------------------------------------------------*/

fieldset {
    border: 1px solid #F0660A;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

input[type="text"], 
input[type="password"] {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
    width: 200px;
}

select {
    border: 1px solid #ccc;
    padding: 2px;
    font-size: 1.2em;
    color: #444;
}

input[type="submit"] {
    font-size: 1.2em;
    padding: 5px;
}
